@font-face {
    font-family: 'Montserrat';
    src: url(~@/assets/fonts/Montserrat/Montserrat-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url(~@/assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url(~@/assets/fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #F5F5F5;
}

@media only screen and (max-width: 600px) {
    .small-card, .big-card {
        background-color: red;
    }
} 